[build]
  command = "git submodule update --init --recursive --depth=1 && pip install uv && uv sync && uv run make publish"
  publish = "output"
  branch = "master"

[context.production.environment]
  PYTHON_VERSION = "3.8"

[context.branch-deploy]
  command = "echo"
  publish = "."